body {
  width: 1500px;
  background-color: cyan;
}

aside {
	width: 500px;
	background-color: cyan;
	float: right;
}

main {
	width: 750px;
	background-color: cyan;
	float: left;
}

header {
	height: 150px;
}

footer {
	clear: both;
}

p {
  font-size: 22px;
  font-family: "Times New Roman", serif;
  color: gray;
 
}

h1, h2, h3, h4 {
  color:blue;
  font-family: 'Helvetica';
}


h1 {
  color: #99cc00;
  font-family: CenturyGothic, Impact, sans-serif;
  text-align: center;

}



ul li {
  color: green;
  font-family: Arial;
}

ol li {
  color: #A11E6E;
  font: italic 18px serif;
}


.beginning {
	background-color: green;
}

.middle {
  text-align: right;
  color: purple;
  font-weight: bold;
}

#footer-link {
	font-style: italic;
	font-size: 50px;
}

.align-right {
	text-align: right;
}

.highlight {
	color: hotpink;
}

.social{
  background-color: teal;
  position: absolute;
  padding: 10px;
  top: 10px;
  left: 0;
}

a {
	text-decoration: none;
}



a:link    {
	color: blue;
	} 


a:hover {
	color: #FF00FF;
  text-decoration: line-through;
}

